<template>
  <div :class="computedClass">
    <slot />
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'

@Component({
  name: 'EduelAlarm'
})
export default class EduelAlarm extends Vue {
  @Prop({ default: 'gray', validator: c => ['gray', 'blue', 'green', 'red'].includes(c) })
  color!: string

  get computedClass (): string[] {
    return ['alarm-msg', 'alarm-msg--' + this.color]
  }
}
</script>

<style lang="scss" scoped>
.alarm-msg {
  position: relative;
  width: 100%;
  font-size: inherit;

  &--gray {
    color: $black-50;
  }

  &--blue {
    color: $clear-blue;
  }

  &--green {
    color: $topaz;
  }

  &--red {
    color: $watermelon;
  }
}
</style>
