<template>
  <nav class="tab">
    <ul class="tab__list">
      <li
        v-for="(tab, idx) in tabs"
        ref="tab"
        :key="`tab-${idx}`"
        :class="['tab__item', idx === value && 'tab__item--active']"
        @click="go(idx)"
      >
        <span class="tab__tab">
          {{ tab }}
        </span>
      </li>
    </ul>
  </nav>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'

@Component({
  name: 'EduelTab'
})
export default class EduelTab extends Vue {
  @Prop({ required: true })
  tabs!: Array<string>

  @Prop({ default: 0 })
  value!: number

  public $refs!: {
    tab: any
  }

  go (value): void {
    this.$emit('input', value)
  }
}
</script>

<style lang="scss" scoped>
.tab {
  width: 100%;

  &__list {
    display: flex;
  }

  &__item {
    flex-basis: 160px;
    color: $black-50;
    cursor: pointer;
    font-size: 36px;
    font-weight: $font-weight-light;
  }

  &__item--active {
    color: $black;
    font-weight: $font-weight-regular;
  }
}
</style>
