<template>
  <input
    :id="id ? id : false"
    v-model="innerValue"
    class="input"
    :type="type"
    :placeholder="placeholder"
    @keyup.enter="emitEnter"
  >
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from 'vue-property-decorator'

@Component({
  name: 'EduelInput'
})
export default class EduelInput extends Vue {
  @Prop({ default: '' })
  value!: string | number

  @Prop({ default: '' })
  id!: string

  @Prop({ default: '' })
  placeholder!: string

  @Prop({ default: 'text' })
  type!: string

  innerValue = this.value

  @Watch('innerValue')
  onInnerValue (val): void {
    this.$emit('input', val)
  }

  @Watch('value')
  onValue (val): void {
    this.innerValue = val
  }

  emitEnter (): void {
    if (event instanceof KeyboardEvent) {
      this.$emit('enter', event)
    }
  }
}
</script>

<style lang="scss" scoped>
.input {
  width: 100%;
  padding: 0.75em 1em;
  border: 0;
  border-bottom: 1px solid $pale-blue;
  background-color: transparent;
  font-size: inherit;

  &::placeholder {
    color: $black-50;
  }
}
</style>
