<template>
  <div :class="computedClass">
    <slot />
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'

@Component({
  name: 'EduelBadge'
})
export default class EduelBadge extends Vue {
  @Prop({ default: 'blue', validator: c => ['blue', 'gray'].includes(c) })
  color!: string

  get computedClass (): string[] {
    return ['badge', 'badge--' + this.color]
  }
}
</script>

<style lang="scss" scoped>
.badge {
  height: 100%;
  padding: 0.3em 1.1em;
  border-radius: 20px;
  color: $white;
  font-size: 14px;
  line-height: 1.27;
  text-align: center;

  &--blue {
    background-color: $clear-blue;
  }

  &--gray {
    background-color: $black-50;
  }
}
</style>
