<template>
  <div
    class="checkbox__wrapper"
    @click="$emit('input', !value)"
  >
    <span :class="computedClass" />

    <span :class="$slots.default && 'checkbox__content'">
      <slot />
    </span>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'

@Component({
  name: 'EduelCheckbox'
})
export default class EduelCheckbox extends Vue {
  @Prop({ default: false })
  value!: boolean

  get computedClass (): any {
    return {
      checkbox: true,
      'checkbox--checked': this.value
    }
  }
}
</script>

<style lang="scss" scoped>
.checkbox {
  display: flex;
  width: 1.3rem;
  height: 1.3rem;
  border: 1px solid $black-50;
  background-color: $white;
  border-radius: 50%;
  transition: background-color 0.2s ease;

  &--checked {
    border: 1px solid $clear-blue;
  }

  &--checked::before {
    width: 0.8rem;
    height: 0.8rem;
    border: 1px solid $clear-blue;
    margin: auto;
    background-color: $clear-blue;
    border-radius: 50%;
    content: '';
    transition: background-color 0.2s ease;
  }

  &__wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: left;
    cursor: pointer;
  }

  &__content {
    margin-left: 0.5em;
    font-size: inherit;
  }
}
</style>
