<template>
  <a
    v-ripple
    :style="{ color: color }"
    :class="computedClass"
    :href="href"
    @click="click"
  >
    <slot />
  </a>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'

@Component({
  name: 'EduelButton'
})
export default class EduelButton extends Vue {
  @Prop({ default: false })
  white!: boolean

  @Prop({ default: true })
  active!: boolean

  @Prop({ default: false })
  loading!: boolean

  @Prop({ default: undefined })
  href!: string

  @Prop({ default: '' })
  color!: string

  get computedClass (): any {
    return {
      btn: true,
      'btn--white': this.white,
      'btn--cursor-disable': !this.isActive
    }
  }

  get isActive (): boolean {
    return !this.loading && this.active
  }

  click (e): void {
    if (this.active) this.$emit('click', e)
  }
}
</script>

<style lang="scss" scoped>
.btn {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1.1em;
  background-color: $clear-blue;
  border-radius: 10px;
  color: $white;
  cursor: pointer;
  font-size: inherit;
  text-decoration: none;
  transition: 0.5s background-color ease;
  user-select: none;
  white-space: nowrap;

  &--white {
    background-color: transparent;
    color: $black-80;
    font-weight: $font-weight-bold;
  }

  &--cursor-disable {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
</style>
