<template>
  <hr :class="computedClass">
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'

@Component({
  name: 'EduelDivider'
})
export default class EduelDivider extends Vue {
  @Prop({ default: false })
  horizontal!: boolean

  @Prop({ default: false })
  vertical!: boolean

  get computedClass (): string[] {
    if (this.horizontal || this.vertical === this.horizontal) {
      return ['divider', 'divider--horizontal']
    } else {
      return ['divider', 'divider--vertical']
    }
  }
}
</script>

<style lang="scss" scoped>
.divider {
  position: relative;
  border: 0;

  &--horizontal {
    right: 0;
    left: 0;
    border-top: 1px solid $pale-blue;
  }

  &--vertical {
    top: 0;
    bottom: 0;
    border-left: 1px solid $pale-blue;
  }
}
</style>
