<template>
  <router-link
    :to="to"
    class="menu-item"
    exact-active-class="menu-item--active"
  >
    <slot />
  </router-link>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'

@Component({
  name: 'EduelMenuItem'
})
export default class EduelMenuItem extends Vue {
  @Prop({ default: '', required: true })
  to!: [string, object]
}
</script>

<style lang="scss" scoped>
.menu-item {
  display: block;
  padding: 0.6em 0;
  color: $black-50;
  font-size: 16px;
  text-decoration: none;

  &--active.menu-item {
    color: $black;
  }
}
</style>
