<template>
  <transition name="fade">
    <div
      v-show="opened"
      class="modal__overlay"
      @click.stop="close"
    >
      <div
        class="modal"
        :style="{width: width+'px'}"
        @click.stop
      >
        <i
          class="bx bx-x"
          @click.stop="close"
        />

        <slot />
      </div>
    </div>
  </transition>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'

@Component({
  name: 'EduelModal'
})
export default class EduelModal extends Vue {
  @Prop({ default: false })
  opened!: boolean

  @Prop({ required: true })
  width!: number

  close (): void {
    this.$emit('close')
  }
}
</script>

<style lang="scss" scoped>
.fade {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.25s ease-in-out;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }
}

.modal {
  position: relative;
  max-width: 1600px;
  box-sizing: border-box;
  padding: 24px;
  border: 1px solid $pale-blue;
  margin: 20vh auto;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 3px 3px 14px 0 rgba($black, 0.07);

  &__overlay {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 200px;
    box-sizing: border-box;
    background: $black-50;
    overflow-y: auto;
  }

  .bx-x {
    cursor: pointer;
    float: right;
    opacity: 0.3;
  }
}
</style>
