<template>
  <eduel-button
    :white="name !== value"
    @click="click"
  >
    <slot />
  </eduel-button>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import EduelButton from './EduelButton.vue'

@Component({
  name: 'EduelButtonRadio',
  components: { EduelButton }
})
export default class EduelButtonRadio extends Vue {
  @Prop({ required: true })
  name!: string

  @Prop({ default: '' })
  value!: string

  click (): void {
    this.$emit('input', this.name)
  }
}
</script>
