<template>
  <div
    :style="{height: height+'px'}"
    class="input__wrapper"
  >
    <textarea
      v-model="innerValue"
      class="input"
      :type="type"
      :placeholder="placeholder"
      :style="{height: height+'px'}"
    />
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from 'vue-property-decorator'

@Component({
  name: 'EduelLongInput'
})
export default class EduelLongInput extends Vue {
  @Prop({ default: '' })
  value!: [string, number]

  @Prop({ default: '' })
  placeholder!: string

  @Prop({ default: 'text' })
  type!: string

  @Prop({ required: true })
  height!: number

  innerValue = this.value

  @Watch('innerValue')
  onInnerValue (val): void {
    this.$emit('input', val)
  }

  @Watch('value')
  onValue (val): void {
    this.innerValue = val
  }
}
</script>

<style lang="scss" scoped>
.input {
  width: 100%;
  border: 0;
  border: 1px solid $pale-blue;
  font-size: inherit;
  resize: none;

  &__wrapper {
    position: relative;
    width: 100%;
  }
}
</style>
