<template>
  <div :class="computedClass">
    <slot />
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'

@Component({
  name: 'EduelCard'
})
export default class EduelCard extends Vue {
  @Prop({ default: false })
  shadow!: boolean

  @Prop({ default: false })
  border!: boolean

  get computedClass (): any {
    return {
      card: true,
      'card--shadow': this.shadow,
      'card--border': this.border
    }
  }
}
</script>

<style lang="scss" scoped>
.card {
  position: relative;
  background-color: $white;

  &--shadow {
    box-shadow: 0 0 1em 0.07em rgba($black, 0.07);
  }

  &--border {
    border: 1px solid $pale-blue;
  }
}
</style>
