<template>
  <eduel-card class="menu">
    <slot />
  </eduel-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import EduelCard from './EduelCard.vue'

@Component({
  name: 'EduelMenu',
  components: { EduelCard }
})
export default class EduelMenu extends Vue {}
</script>
