/* Colors */
$black: #151313;
$black-80: rgba(21, 19, 19, 0.8);
$black-50: rgba(21, 19, 19, 0.5);
$white: #fff;
$dark-sky-blue: #3b89f1;
$clear-blue: #2b80f0;
$powder-blue: #bbd7fc;
$pale-blue: #dfe3e8;
$topaz: #18bcb8;
$watermelon: #ec4e60;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 600;
$font-weight-extra-bold: 800;

/* From bulma */

// The container horizontal gap, which acts as the offset for breakpoints
$gap: 32px !default;
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px !default;
// 960px container + 4rem
$desktop: 960px + (2 * $gap) !default;
// 1152px container + 4rem
$widescreen: 1152px + (2 * $gap) !default;
// 1344px container + 4rem
$fullhd: 1344px + (2 * $gap) !default;
