@import './reset';
@import './variables';
@import './components/all';

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

html {
  background-color: $white;
}

::selection {
  background: $clear-blue;
  color: $white;
}

.root {
  font-family: 'Spoqa Han Sans', sans-serif;
  overflow-x: hidden;
}
