<template>
  <div
    class="card"
    :style="{width: width+'px'}"
  >
    <template v-if="flipping">
      <div class="card__wrapper">
        <eduel-card
          class="card__content card__content--front"
          shadow="true"
        >
          <slot name="front" />
          <i
            class="bx bx-info-circle card__btn"
            @click="click"
          />
        </eduel-card>
        <eduel-card
          class="card__content card__content--back"
          shadow="true"
        >
          <slot name="back" />
          <i
            class="bx bx-info-circle card__btn"
            @click="click"
          />
        </eduel-card>
      </div>
    </template>

    <template v-else>
      <eduel-card
        class="card__content"
        shadow="true"
      >
        <slot />
      </eduel-card>
    </template>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'

@Component({
  name: 'ContentCard'
})
export default class ContentCard extends Vue {
  flippingElement

  @Prop({ default: false })
  flipping!: boolean

  @Prop({ required: true })
  width!: number

  click (): void {
    if (this.flipping) {
      this.flippingElement = document.querySelector('.card')
      this.flippingElement.classList.toggle('card--active')
    }
  }
}
</script>

<style lang="scss" scoped>
.card {
  position: relative;
  height: 700px;
  perspective: 650px;

  &--active > &__wrapper {
    transform: rotateY(180deg);
  }

  &__wrapper,
  &__content {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__wrapper {
    transform-style: preserve-3d;
    transition: all 0.3s linear;
  }

  &__content {
    display: flex;
    backface-visibility: hidden;
  }

  &__content--back {
    transform: rotateY(180deg);
  }

  &__btn {
    position: absolute;
    right: 16px;
    bottom: 16px;
    color: $black-80;
    cursor: pointer;
    font-size: 28px;
  }
}
</style>
