<template>
  <div class="edu-wrapper__wrapper">
    <canvas
      ref="canvasRectangleLight"
      class="edu-wrapper__background"
      width="1920"
      height="1080"
    />
    <canvas
      ref="canvasRectangleRegular"
      class="edu-wrapper__background"
      width="1920"
      height="1080"
    />
    <canvas
      ref="canvasRectangleBold"
      class="edu-wrapper__background"
      width="1920"
      height="1080"
    />
    <router-view name="eduRoute" />
    <div class="edu-wrapper__footer">
      <span>&copy; {{ new Date().getFullYear() }} COIN</span>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component({
  name: 'EduWrapper'
})
export default class EduWrapper extends Vue {
  rectangleLightCanvas
  rectangleRegularCanvas
  rectangleBoldCanvas

  canvasRectangleLight
  canvasRectangleRegular
  canvasRectangleBold

  mounted (): void {
    this.rectangleLightCanvas = this.$refs.canvasRectangleLight as HTMLCanvasElement
    this.rectangleRegularCanvas = this.$refs.canvasRectangleRegular as HTMLCanvasElement
    this.rectangleBoldCanvas = this.$refs.canvasRectangleBold as HTMLCanvasElement

    this.canvasRectangleLight = this.rectangleLightCanvas.getContext('2d')
    this.canvasRectangleRegular = this.rectangleRegularCanvas.getContext('2d')
    this.canvasRectangleBold = this.rectangleBoldCanvas.getContext('2d')

    this.canvasRectangleLight.rotate(45 * Math.PI / 180)
    this.canvasRectangleLight.fillStyle = '#bbd7fc'
    this.roundRect(this.canvasRectangleLight, -50, -330, 830, 1080, 100)

    this.canvasRectangleRegular.rotate(45 * Math.PI / 180)
    this.canvasRectangleRegular.fillStyle = '#2b80f0'
    this.roundRect(this.canvasRectangleRegular, 0, -220, 1080, 1080, 100)

    this.canvasRectangleBold.rotate(45 * Math.PI / 180)
    this.canvasRectangleBold.fillStyle = '#3b89f1'
    this.roundRect(this.canvasRectangleBold, 20, 180, 830, 1080, 100)

    this.canvasRectangleLight.fill()
    this.canvasRectangleRegular.fill()
    this.canvasRectangleBold.fill()
  }

  roundRect (canvasContext, x, y, width, height, radius): void {
    if (width < 2 * radius) radius = width / 2
    if (height < 2 * radius) radius = height / 2
    canvasContext.beginPath()
    canvasContext.moveTo(x + radius, y)
    canvasContext.arcTo(x + width, y, x + width, y + height, radius)
    canvasContext.arcTo(x + width, y + height, x, y + height, radius)
    canvasContext.arcTo(x, y + height, x, y, radius)
    canvasContext.arcTo(x, y, x + width, y, radius)
    canvasContext.closePath()
    return canvasContext
  }
}
</script>

<style lang="scss" scoped>
.edu-wrapper {
  height: 100%;
  padding: 0;
  margin: 0;

  &__background {
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 24px;
    margin-left: 24px;
    color: $white;
    font-size: 14px;
    font-weight: $font-weight-light;
  }
}
</style>
