<template>
  <div class="lecture-content">
    <eduel-tab
      v-model="tab"
      class="lecture-content__title"
      :tabs="['교육 과정', '시험/과제']"
    />
    <div
      v-if="pending"
      class="lecture-content__loader"
    >
      <eduel-loader />
    </div>
    <template>
      <div
        v-if="tab === 0"
        class="lesson"
      >
        <eduel-menu class="lesson__list">
          <eduel-menu-item :to="{ name: '01' }">
            <div class="lesson-item">
              <span class="lesson-item__num">01</span>
              <span class="lesson-item__title">오리엔테이션</span>
              <span class="lesson-item__amount">2/2</span>
            </div>
          </eduel-menu-item>
        </eduel-menu>
      </div>

      <div
        v-if="tab === 1"
        class="exam"
      >
        <eduel-menu class="exam__list">
          <eduel-menu-item :to="{ name: '01' }">
            <div class="exam-item">
              <span class="exam-item__title">[시험] 프로젝트 수행평가 공지</span>
            </div>
          </eduel-menu-item>
        </eduel-menu>
      </div>
    </template>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component({
  name: 'LectureContent'
})
export default class LectureContent extends Vue {
  pending = false
  tab = 0
  lessons = []

  async created (): Promise<void> {
    await this.refresh()
  }

  async refresh (): Promise<void> {
    this.pending = true
    // this.lessons = await lecturesRequester.getLessons()
    this.pending = false
  }
}
</script>

<style lang="scss" scoped>
.lecture-content {
  padding: 3em;

  &__title {
    margin-bottom: 1em;
    font-size: 36px;
  }

  &__loader {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.lesson,
.exam {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.lesson-item,
.exam-item {
  display: flex;
  flex: 1;
  align-items: center;

  &__num {
    margin-right: 24px;
    color: $clear-blue;
    font-size: 20px;
  }

  &__title {
    color: $black;
    font-size: 24px;
  }

  &__amount {
    margin-left: 8px;
    color: $black-50;
    font-size: 16px;
    font-weight: $font-weight-light;
  }
}
</style>
