<template>
  <div class="lecture-content">
    <div class="lecture-content__wrapper">
      <span class="lecture-content__num">02</span>
      <span class="lecture-content__title">자바언어의 이해</span>
      <span class="lecture-content__amount">7/9</span>
    </div>
    <div
      v-if="pending"
      class="lecture-content__loader"
    >
      <eduel-loader />
    </div>
    <div class="lesson">
      <eduel-menu class="lesson__wrapper">
        <eduel-menu-item :to="{ name: '01' }">
          <div class="lesson-item">
            <span class="lesson-item__title">1. 자바언어의 개요</span>
            <template v-if="status === 'complete'">
              <span class="lesson-item__score">100</span>점
              <span class="lesson-item__complete bx bxs-check-circle" />
            </template>
          </div>
        </eduel-menu-item>
        <template v-if="status === 'download'">
          <span
            class="lesson-item__download"
            @click="downloadCode"
          >
            <span class="bx bx-down-arrow-alt" />다운로드
          </span>
        </template>
      </eduel-menu>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component({
  name: 'LectureList'
})
export default class LectureList extends Vue {
  pending = false
  lessonDetail = []
  status = 'download'

  async created (): Promise<void> {
    await this.refresh()
  }

  async refresh (): Promise<void> {
    this.pending = true
    // this.lessonDetail = await lecturesRequester.getlessonDetail()
    this.pending = false
  }

  downloadCode (): void {
    console.log('코드를 다운로드합니다.')
  }
}
</script>

<style lang="scss" scoped>
.lecture-content {
  padding: 3em;

  &__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    color: $black;
    font-size: 36px;
  }

  &__num {
    margin-right: 18px;
    color: $clear-blue;
    font-size: 28px;
  }

  &__amount {
    margin-left: 18px;
    color: $black-50;
    font-size: 24px;
    font-weight: $font-weight-light;
  }

  &__loader {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.lesson {
  display: flex;
  flex-direction: column;
  text-align: left;

  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.lesson-item {
  display: flex;
  min-height: 20px;
  align-items: center;
  color: $black;
  font-size: 18px;

  &__score {
    margin-left: 8px;
    color: $clear-blue;
  }

  &__complete {
    color: $clear-blue;
  }

  &__download {
    margin-left: 8px;
    color: $black-50;
    cursor: pointer;
  }
}
</style>
