<template>
  <div class="container">
    <content-card
      class="info"
      width="380"
      flipping="true"
    >
      <template slot="front">
        <div class="column">
          <section class="info__lecture info-section">
            <div class="lecture-info__photo-outline">
              <img
                src="/app/assets/image-2.png"
                class="lecture-info__photo"
                @click="changePhoto"
              >
            </div>

            <span class="lecture-info__title">
              2학년 JAVA 프로그래밍
            </span>
          </section>

          <section class="info-section mng">
            <eduel-menu class="mng__list">
              <eduel-menu-item :to="{ name: 'management_curriculum' }">
                강의 구성 관리
              </eduel-menu-item>
              <eduel-menu-item :to="{ name: 'management_problem' }">
                문제 관리
              </eduel-menu-item>
              <eduel-menu-item :to="{ name: 'management_exam' }">
                시험/과제 관리
              </eduel-menu-item>
              <eduel-menu-item :to="{ name: 'management_exam_result' }">
                시험/과제 결과 관리
              </eduel-menu-item>
              <div
                class="mng__item-btn"
                @click="modals.showAchievement = true"
              >
                성취도 보기
              </div>
              <div
                class="mng__item-btn"
                @click="deleteLecture"
              >
                과목 삭제
              </div>
            </eduel-menu>
          </section>
        </div>
      </template>

      <template slot="back">
        <div class="column">
          <section class="info__lecture-info info-section">
            <div class="info__lecture-info--title">
              과목 소개
              <span
                class="bx bxs-pencil info__lecture-info--icon"
                @click="modals.editLectureIntroduction = true"
              />
            </div>
            <span
              class="info__lecture-info--content"
              v-html="subjectInfo"
            />
          </section>
        </div>
      </template>
    </content-card>

    <eduel-modal
      class="shac"
      :opened="modals.showAchievement"
      width="1600"
      @close="closeModal"
    >
      <h3 class="shac__title">
        성취도 보기
      </h3>
    </eduel-modal>

    <eduel-modal
      class="dele"
      :opened="modals.editLectureIntroduction"
      width="1600"
      @close="closeModal"
    >
      <div class="dele__title-wrapper">
        <h3 class="dele__title">
          과목 소개 편집
        </h3>
        <eduel-button
          class="dele__btn"
          white="true"
          color="#2b80f0"
          @click="editLectureIntroduction"
        >
          수정
        </eduel-button>
      </div>
      <tiptab-editor />
    </eduel-modal>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import ContentCard from '@/components/ContentCard.vue'
import TiptabEditor from '@/components/TiptabEditor.vue'

@Component({
  name: 'ManageLectureCard',
  components: { ContentCard, TiptabEditor }
})
export default class ManageLectureCard extends Vue {
  subjectInfo = ''

  modals = {
    showAchievement: false,
    editLectureIntroduction: false
  }

  changePhoto (): void {
    console.log('이미지 파일 선택')
  }

  async deleteLecture (): Promise<void> {
    const { value: answer } = await this.$swal({
      type: 'warning',
      title: '경고',
      text: '정말 삭제하실 건가요? 이 작업은 되돌릴 수 없습니다.',
      confirmButtonColor: '#d61315',
      cancelButtonColor: '#ababab',
      confirmButtonText: '삭제',
      cancelButtonText: '취소',
      showCancelButton: true
    })

    if (!answer) return
    try {
      await this.$swal('삭제되었습니다', '', 'success')
    } catch (err) {
      this.$swal('이런!', err.message, 'error')
    }
  }

  closeModal (): void {
    this.modals = {
      showAchievement: false,
      editLectureIntroduction: false
    }
  }
}
</script>

<style lang="scss" scoped>
.column {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  padding: 3em;
}

.info-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;

  &__content {
    display: flex;
    flex: 1;
  }
}

.info {
  position: absolute;
  top: calc(50% - 350px);
}

.info {
  left: calc(10%);
  display: flex;
  width: 100%;

  &__notice {
    display: block;
    color: $black-80;
    font-size: 16px;
    line-height: 1.5;
  }

  &__notice--content {
    word-wrap: break-word;
  }

  &__btn {
    margin-top: 1rem;
    float: right;
  }

  &__menu {
    position: absolute;
    display: block;
    color: $black;
    cursor: pointer;
  }

  &__lecture-info--title {
    margin-bottom: 1rem;
    color: $black;
    font-size: 26px;
    font-weight: $font-weight-bold;
  }

  &__lecture-info--icon {
    color: $clear-blue;
    cursor: pointer;
    font-size: 26px;
  }
}

.lecture-info {
  &__photo-outline {
    display: flex;
    min-width: 100%;
    min-height: 170px;
    align-items: center;
    justify-content: center;
    border: 1px solid $pale-blue;
    margin-bottom: 1.5em;
    background-color: #f6f6f6;
    box-shadow: 0 0 1em 0.07em rgba($black, 0.07);
  }

  &__photo {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &__title {
    color: $black;
    font-size: 26px;
    font-weight: $font-weight-bold;
  }
}

.mng {
  display: flex;
  flex-direction: column;

  &__item-btn {
    display: block;
    padding: 0.6em 0;
    color: $black-50;
    cursor: pointer;
    font-size: 16px;
  }
}

.dele {
  display: flex;
  flex-direction: column;

  &__title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  &__title {
    margin: 0;
    color: $black;
  }
}
</style>
