<template>
  <div class="container">
    <div class="column">
      <div class="lecture-info">
        <span class="lecture-info__title">
          <template v-if="management">
            내가 개설한 과목
          </template>
          <template v-else>
            내 과목
          </template>
        </span>
        <span class="lecture-info__amount">
          (1)
        </span>
      </div>

      <div class="lecture-list">
        <eduel-menu class="lecture-list__content">
          <eduel-menu-item :to="{ name: '01' }">
            <div class="lecture-item">
              <span class="lecture-item__name">
                2학년 JAVA 프로그래밍
              </span>
              <span
                v-if="!management"
                class="lecture-item__teacher"
              >
                하미영
              </span>
            </div>
          </eduel-menu-item>
        </eduel-menu>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'

@Component({
  name: 'MyLectures'
})
export default class MyLectures extends Vue {
  @Prop({ default: false })
  management!: boolean
}
</script>

<style lang="scss" scoped>
.column {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  padding: 3em;
}

.lecture-info {
  display: flex;
  margin-bottom: 1em;
  font-size: 36px;

  &__title {
    margin-right: 8px;
    color: $black;
  }

  &__amount {
    color: $clear-blue;
  }
}

.lecture-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;

  &__content {
    display: flex;
    flex: 1;
  }
}

.lecture-item {
  display: flex;
  align-items: center;

  &__name {
    margin-right: 8px;
    color: $black;
    font-size: 24px;
  }

  &__teacher {
    color: $black-50;
    font-size: 16px;
    font-weight: $font-weight-light;
  }
}
</style>
