<template>
  <div class="container">
    <div class="problem">
      <vue-perfect-scrollbar class="scroll">
        <div
          class="problem__content"
          v-html="content"
        />

        <eduel-divider class="problem__divider" />

        <div class="example-title">입출력 예시</div>
        <div class="example">
          <div class="example-input">
            <div class="example__subtitle">입력 1</div>
            <pre class="example__content">{{ inputExample }}</pre>
          </div>
          <div class="example-output">
            <div class="example__subtitle">출력 1</div>
            <pre class="example__content">{{ outputExample }}</pre>
          </div>
        </div>
      </vue-perfect-scrollbar>
    </div>

    <div class="editor">
      <div class="editor__header">
        <v-select
          v-model="language"
          :options="['JAVA', 'C', 'C++']"
        />
        <div class="btn-wrapper">
          <eduel-button
            white="true"
            color="#2b80f0"
            @click="reset"
          >
            초기화
          </eduel-button>
          <eduel-button
            white="true"
            color="#2b80f0"
            @click="save"
          >
            저장
          </eduel-button>
          <eduel-button
            white="true"
            color="#2b80f0"
            @click="run"
          >
            실행
          </eduel-button>
          <eduel-button
            white="true"
            color="#18bcb8"
            @click="submit"
          >
            제출
          </eduel-button>
        </div>
      </div>
      <div class="editor__main">
        <monaco-editor
          class="monaco-editor"
          height="464"
          language="java"
          theme="vs"
          :code="code"
          :options="editorOptions"
          @mounted="onEditorMounted"
          @codeChange="onCodeChanged"
        />
      </div>
      <div class="editor__console">
        <vue-perfect-scrollbar class="scroll">
          <div
            class="process"
            v-html="processContent"
          />
        </vue-perfect-scrollbar>
        <div class="execution">
          <div
            v-if="isExecution"
            class="execution__time-limit"
          >
            실행시간 : {{ runTime.toFixed(2) }} / {{ limitTime.toFixed(2) }}
          </div>
          <eduel-button
            class="execution__stop-btn"
            white="true"
            :loading="isActive === false"
            color="#ec4e60"
            @click="stopProcess"
          >
            정지
          </eduel-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component({
  name: 'PracticeLesson'
})
export default class PracticeLesson extends Vue {
  content = `
    <p>각각 다른 자료형의 7개 변수를 생성한 후 아래와 같이 출력해보자</p>
    <strong>
      <li>이름, 성별, 나이</li>
      <li>키, 몸무게, 혈액형</li>
      <li>대표곡</li>
    </strong>
  `
  inputExample = ''
  outputExample = '<<강민영프로필>>\n이름 : 강민영\n성별 : 여자\n나이 : 18세\n특이사항 : 권태훈 여친'

  language = 'JAVA'

  editorOptions = {
    fontFamily: 'D2 Coding',
    contextmenu: false,
    scrollBeyondLastLine: false
  }
  editorObj: any = null
  code = ''

  isExecution = false
  processContent = ``
  isActive = false
  limitTime = 1.00
  runTime = 0

  mounted (): void {
    this.setScrollHeight()

    window.onresize = (): void => {
      this.setScrollHeight()
    }
  }

  setScrollHeight (): void {
    const scroll = document.querySelector('.scroll') as HTMLDivElement
    scroll.style.height = `${window.innerHeight - 160}px`
  }

  reset (): void {
    console.log('reset')
  }

  save (): void {
    console.log('save')
  }

  run (): void {
    this.isExecution = true
    this.isActive = true
    console.log('run')
    this.isExecution = false
    this.isActive = false
  }

  submit (): void {
    console.log('submit')
  }

  onEditorMounted (editor): void {
    this.editorObj = editor
  }

  onCodeChanged (editor): void {
    this.code = editor.getValue()
  }

  stopProcess (): void {
    if (this.isActive) console.log('stop')
  }
}
</script>

<style lang="scss" scoped>
.container {
  position: absolute;
  display: flex;
  height: 750px;
}

.problem {
  width: 420px;
  height: 100%;
  border: 1px solid $pale-blue;
  margin-right: 32px;
  border-radius: 10px;

  &__content,
  &__example {
    padding: 1rem;
  }

  &__divider {
    width: 90%;
  }
}

.scroll {
  overflow-x: hidden;
}

.example {
  display: flex;
  width: 388px;
  min-height: 60px;
  padding: 1rem;
  color: $black;
  font-size: 14px;

  &__subtitle {
    margin-bottom: 0.7rem;
  }

  &__content {
    width: 80%;
    min-height: 60px;
    border-radius: 10px;
    white-space: pre-wrap;
  }
}

.example-title {
  padding: 1rem 1rem 0;
  color: $black;
  font-size: 14px;
}

.example-input,
.example-output {
  width: 182px;
  min-height: 60px;
  font-size: 14px;
}

.example-input {
  margin-right: 24px;
}

.editor {
  width: 896px;
  height: 100%;

  &__header {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__main {
    height: 464px;
    padding: 8px 0;
    border: 1px solid $pale-blue;
    margin-bottom: 16px;
    border-radius: 10px;
  }

  &__console {
    height: 142px;
    padding: 1rem;
    border: 1px solid $pale-blue;
    border-radius: 10px;
  }
}

.process {
  width: 78%;
  height: 142px;
  color: $black;
  font-size: 14px;
  word-wrap: break-word;
}

.execution {
  position: absolute;
  right: 0;
  bottom: 128px;
  display: flex;
  align-items: center;

  &__time-limit {
    color: $black-50;
    font-size: 14px;
  }

  &__stop-btn {
    padding-left: 8px;
    font-size: 18px;
  }
}
</style>
