<template>
  <div class="container">
    <template v-if="hideable">
      <div
        v-if="!opened"
        class="bar"
        @click="toggle"
      />

      <transition name="fade">
        <div
          v-show="opened"
          class="modal__overlay"
          @click.stop="toggle"
        >
          <div
            class="modal"
            @click.stop
          >
            <div
              class="bar bar__close"
              @click.stop="toggle"
            />

            <div class="lesson lesson__modal">
              <div class="lesson-title">
                <span class="lesson-title--highlight">02</span>
                자바 언어의 이해
                <span
                  v-if="lessonAllComplete"
                  class="lesson-title__check-icon bx bxs-check-circle"
                />
              </div>

              <div class="lesson-name">
                1. 자바 언어의 개요
                <span
                  v-if="lessonComplete"
                  class="lesson-name__check-icon bx bxs-check-circle"
                />
              </div>
            </div>
          </div>
        </div>
      </transition>
    </template>

    <template v-else>
      <div class="lesson">
        <div class="lesson-title">
          <span class="lesson-title--highlight">02</span>
          자바 언어의 이해
          <span
            v-if="lessonAllComplete"
            class="lesson-title__check-icon bx bxs-check-circle"
          />
        </div>

        <div class="lesson-name">
          1. 자바 언어의 개요
          <span
            v-if="lessonComplete"
            class="lesson-name__check-icon bx bxs-check-circle"
          />
        </div>
      </div>
    </template>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'

@Component({
  name: 'Siderbar'
})
export default class Siderbar extends Vue {
  @Prop({ default: false })
  hideable!: boolean

  lessonAllComplete = true
  lessonComplete = true

  opened = false

  toggle (): void {
    if (!this.opened) this.opened = true
    else this.opened = false
  }
}
</script>

<style lang="scss" scoped>
.fade {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.25s ease-in-out;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }
}

.container {
  min-width: 320px;
  min-height: 750px;
}

.lesson {
  display: flex;
  flex: 1;
  flex-direction: column;

  &__modal {
    margin: 32px;
  }
}

.lesson-title {
  display: flex;
  min-height: 24px;
  align-items: center;
  margin-bottom: 1em;
  color: $black;
  font-size: 21px;

  &--highlight {
    margin-right: 8px;
    color: $clear-blue;
  }

  &__check-icon {
    margin-left: 6px;
    color: $clear-blue;
  }
}

.lesson-name {
  display: flex;
  min-height: 18px;
  align-items: center;
  margin-bottom: 1em;
  color: $black-50;
  font-size: 16px;

  &--active {
    color: $black;
  }

  &__check-icon {
    margin-left: 6px;
    color: $clear-blue;
  }
}

.bar {
  position: absolute;
  z-index: 999;
  top: 0;
  bottom: 0;
  overflow: hidden;
  width: 10px;
  height: 48px;
  margin: auto;
  background-color: $pale-blue;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;

  &:hover {
    opacity: 1;
  }

  &__close {
    right: 0;
    left: 328px;
  }
}

.modal {
  position: absolute;
  top: calc(50% - 375px);
  left: calc(10%);
  display: flex;
  width: 320px;
  height: 750px;
  flex: 1;
  background-color: $white;
  border-radius: 10px;

  &__overlay {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: $black-50;
    overflow-y: auto;
  }
}
</style>
