<template>
  <div class="container">
    <!--
      theory 컴포넌트는 객관식 문항, 주관식 문항, PDF 뷰어, 글만 있는 강의 4가지입니다.
      theory 컴포넌트를 적절히 섞어 배치하는 방법이 필요합니다. typescript에서 처리해야될 것 같습니다.
      예상하는 시나리오는 아래와 같습니다.

      1. 현재 강의에 포함된 필요 컴포넌트를 가져옴 (관리자가 배열한 순서대로 가져와야 합니다)
      2. 필요 컴포넌트를 조합하여 출력
    -->
    <pdf-viewer />
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import ExplanatorySentence from './theory/ExplanatorySentence.vue'
import PdfViewer from './theory/PdfViewer.vue'
import Problem from './theory/Problem.vue'

@Component({
  name: 'TheoryLesson',
  components: { ExplanatorySentence, PdfViewer, Problem }
})
export default class TheoryLesson extends Vue {}
</script>

<style lang="scss" scoped>
.container {
  width: 940px;
  height: 750px;
}
</style>
