<template>
  <section class="info__profile info-section">
    <div class="info__profile-card info-section__content">
      <div class="profile-info__left">
        <span class="profile-info">
          <template v-if="userType === 'T'">
            <span class="profile-info__name">
              {{ name }}
            </span>
            <span class="profile-info__serial">
              선생님
            </span>
          </template>
          <template v-else>
            <span class="profile-info__serial">
              <!-- {{ `${grade}학년 ${klass}반` }} -->
              2학년 5반
            </span>
            <span class="profile-info__name">
              <!-- {{ name }} -->
              권태훈
            </span>
          </template>
        </span>
      </div>

      <nav>
        <i
          class="bx bxs-cog profile-info__btn"
          title="설정"
          @click="openSetting"
        />
        <i
          class="bx bx-power-off profile-info__btn"
          title="로그아웃"
          @click="logout"
        />
      </nav>
    </div>
  </section>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component({
  name: 'UserInfo'
})
export default class UserInfo extends Vue {
  openSetting (): void {
    window.location.href = `https://dimigo.in`
  }

  async logout (): Promise<void> {
    await console.log('로그아웃')
  }
}
</script>

<style lang="scss" scoped>
.info-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;

  &__content {
    display: flex;
    flex: 1;
  }
}

.info {
  display: flex;
  width: 100%;

  &__profile,
  &__profile-card {
    display: flex;
    justify-content: space-between;
  }

  &__profile-card {
    min-height: 24px;
    align-items: center;
  }
}

.profile-info {
  font-size: 24px;

  &__left {
    display: flex;
    align-items: center;
  }

  &__serial {
    color: $black-50;
  }

  &__name {
    color: $black;
  }

  &__btn {
    cursor: pointer;
    font-size: 24px;
  }

  &__btn:not(:last-child) {
    margin-right: 0.25em;
  }
}
</style>
