<template>
  <div class="container">
    <content-card
      class="info"
      width="380"
    >
      <div class="column">
        <user-info />

        <section class="info-section">
          <div class="info__notice info-section__content">
            <eduel-long-input
              v-model="notice"
              height="180"
              class="info__notice--content"
            />
            <eduel-button
              class="info__btn"
              white="true"
              color="#2b80f0"
              @click="postAnnouncement"
            >
              수정
            </eduel-button>
          </div>
        </section>

        <section class="info-section">
          <eduel-button
            class="info__menu info-section__content"
            white="true"
            color="#2b80f0"
            @click="modal = true"
          >
            과목 만들기
          </eduel-button>
        </section>
      </div>
    </content-card>

    <content-card
      class="lecture"
      width="840"
    >
      <div class="column">
        <section class="info-section">
          <my-lectures management="true" />
        </section>
      </div>
    </content-card>

    <eduel-modal
      class="creator"
      :opened="modal"
      width="800"
      @close="closeModal"
    >
      <h3 class="creator__title">
        과목 만들기
      </h3>

      <div class="creator__form-field">
        <label class="creator__form-label">
          과목명
        </label>
        <eduel-input
          id="crt-title"
          v-model="form.title"
          class="creator__form-input"
          placeholder="과목명을 입력하세요"
        />
        <label class="creator__form-label">
          과목 이미지
        </label>
        <div
          class="creator__form-upload"
          @click="upload"
        >
          <span class="bx bx-up-arrow-alt" />파일 선택
        </div>
        <label class="creator__form-label">
          대상 학년
        </label>
        <div class="creator__form-target">
          <eduel-checkbox
            id="crt-target-one"
            v-model="form.targetFirst"
            class="creator__form-checkbox"
          >
            1학년
          </eduel-checkbox>
          <eduel-checkbox
            id="crt-target-two"
            v-model="form.targetSecond"
            class="creator__form-checkbox"
          >
            2학년
          </eduel-checkbox>
          <eduel-checkbox
            id="crt-target-three"
            v-model="form.targetThird"
            class="creator__form-checkbox"
          >
            3학년
          </eduel-checkbox>
        </div>
        <label class="creator__form-label">
          과목 소개
        </label>
        <eduel-input
          id="crt-description"
          v-model="form.description"
          class="creator__form-input"
          placeholder="간단하게 작성이 가능하며, 추후 관리에서 과목 정보를 장문으로 편집할 수 있습니다"
        />

        <div class="creator__submit">
          <eduel-button @click="create">
            만들기
          </eduel-button>
        </div>
      </div>
    </eduel-modal>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import ContentCard from '@/components/ContentCard.vue'
import UserInfo from '@/components/UserInfo.vue'
import MyLectures from '@/components/MyLectures.vue'

@Component({
  name: 'ManageMain',
  components: { ContentCard, UserInfo, MyLectures }
})
export default class ManageMain extends Vue {
  notice = '공지사항입니다.'

  modal = false

  form = {
    title: '',
    image: '',
    targetFirst: false,
    targetSecond: false,
    targetThird: false,
    description: ''
  }

  postAnnouncement (): void {
    console.log('공지 수정')
  }

  closeModal (): void {
    this.modal = false

    this.form = {
      title: '',
      image: '',
      targetFirst: false,
      targetSecond: false,
      targetThird: false,
      description: ''
    }
  }

  upload (): void {
    console.log('이미지 파일 업로드')
  }

  create (): void {
    console.log('과목 만들기')
  }
}
</script>

<style lang="scss" scoped>
.column {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  padding: 3em;
}

.info-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;

  &__content {
    display: flex;
    flex: 1;
  }
}

.info,
.lecture {
  position: absolute;
  top: calc(50% - 350px);
}

.info {
  left: calc(10%);
  display: flex;
  width: 100%;

  &__notice {
    display: block;
    color: $black-80;
    font-size: 16px;
    line-height: 1.5;
  }

  &__notice--content {
    word-wrap: break-word;
  }

  &__btn {
    margin-top: 1rem;
    float: right;
  }

  &__menu {
    position: absolute;
    display: block;
    color: $black;
    cursor: pointer;
  }
}

.lecture {
  right: calc(10%);
}

.creator {
  &__title {
    color: $black;
    font-size: 24px;
  }

  &__form-field {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
  }

  &__form-label {
    margin: 16px 0;
    color: $black-80;
    font-size: 18px;
  }

  &__form-input {
    width: 80%;
  }

  &__form-upload {
    display: flex;
    align-items: center;
    color: $clear-blue;
    cursor: pointer;
  }

  &__form-target {
    display: flex;
  }

  &__form-checkbox {
    margin-right: 1rem;
    color: $black-80;
  }

  &__submit {
    display: flex;
    justify-content: flex-end;
  }
}
</style>
