<template>
  <div
    class="container"
    v-html="expression"
  />
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component({
  name: 'ExplanatorySentence'
})
export default class ExplanatorySentence extends Vue {
  expression = ''
}
</script>

<style lang="scss" scoped>
.container {
  width: 100%;
  height: 100%;
}
</style>
