<template>
  <div class="container">
    <div class="pdf--viewer">
      PDF Viewer
      <!-- 적당한 vue용 pdf viewer를 찾지 못했습니다. -->
    </div>
    <div class="pdf--controller">
      <div class="item" />
      <div class="item">
        <span
          class="bx bx-left-arrow-alt item--icon"
          @click="prev"
        />
        <span class="page-num" />1 / <span class="page-count" />20
        <span
          class="bx bx-right-arrow-alt item--icon"
          @click="next"
        />
      </div>
      <div class="item">
        <span
          class="bx bx-exit-fullscreen item--icon"
          @click="fullscreen"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component({
  name: 'PdfViewer'
})
export default class PdfViewer extends Vue {
  prev (): void {
    console.log('prev')
  }

  next (): void {
    console.log('next')
  }

  fullscreen (): void {
    console.log('fullscreen')
  }
}
</script>

<style lang="scss" scoped>
.container {
  width: 100%;
  height: 100%;
}

.pdf {
  width: 100%;

  &--viewer {
    height: 95%;
    background-color: #f6f6f6;
  }

  &--controller {
    display: flex;
    height: 5%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #e7e8ef;
  }
}

.item {
  display: flex;
  align-items: center;
  margin: 0 1rem;
  color: $black-80;
  font-size: 18px;

  &--icon {
    color: $black-80;
    cursor: pointer;
    font-size: 20px;
    outline: none;
    text-decoration: none;
  }
}
</style>
