<template>
  <div class="container">
    <div class="column">
      <div class="problem">
        <eduel-badge
          class="problem__badge"
          color="blue"
        >
          <template v-if="subjectiveExpression">주관식</template>
          <template v-else>객관식</template>
        </eduel-badge>
        <div class="problem__info">
          <span class="problem__title">{{ problemTitle }}</span>
          <span
            v-if="subjectiveExpression"
            class="problem__content"
          >
            {{ problemContent }}
          </span>
        </div>
      </div>
      <div class="items">
        <template v-if="subjectiveExpression">
          <div
            v-for="(item, index) in items"
            :key="index"
          >
            답안 {{ index + 1 }} :
            <eduel-input
              v-model="input[index]"
              class="items__item"
            />
          </div>
        </template>
        <template v-else>
          <eduel-checkbox
            v-for="(item, index) in items"
            :key="index"
            v-model="checked[index]"
            class="items__item"
          >
            {{ item }}
          </eduel-checkbox>
        </template>
      </div>
      <div class="submit">
        <eduel-alarm
          class="submit submit__alarm"
          :color="color"
        >
          {{ alarmMsg }}
        </eduel-alarm>
        <eduel-button
          class="submit submit__btn"
          @click="submit"
        >
          제출
        </eduel-button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component({
  name: 'Problem'
})
export default class Problem extends Vue {
  subjectiveExpression = false

  problemTitle = ''
  problemContent = ''

  items = []
  checked = []
  input = []

  alarmMsg = ''
  color = 'gray'

  submit (): void {
    console.log('답안 제출')
  }
}
</script>

<style lang="scss" scoped>
.container {
  width: 100%;
  height: 100%;
}

.problem {
  margin-bottom: 28px;
  color: $black;

  &__badge {
    width: 42px;
    margin-bottom: 16px;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__title,
  &__content {
    font-size: 18px;
  }

  &__content {
    margin-top: 1rem;
  }
}

.items {
  &__item {
    width: 80%;
    margin-bottom: 16px;
    color: $black;
    font-size: 18px;
  }
}

.submit {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__alarm {
    margin-right: 16px;
  }
}
</style>
