<template>
  <div
    id="app"
    class="root"
  >
    <div class="root__router">
      <router-view />
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import './scss/theme.scss'

@Component({
  name: 'App'
})
export default class App extends Vue {}
</script>

<style lang="scss">
.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  &__router {
    flex: 1 0 auto;
  }
}
</style>
