/* stylelint-disable */

// Typography
// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: .5em;
  margin-top: 0;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 500;
  color: $black;
}
h1,
.h1 {
  font-size: 2rem;
}
h2,
.h2 {
  font-size: 1.6rem;
}
h3,
.h3 {
  font-size: 1.4rem;
}
h4,
.h4 {
  font-size: 1.2rem;
}
h5,
.h5 {
  font-size: 1rem;
}
h6,
.h6 {
  font-size: .8rem;
}

// Basic font size
code,
kbd,
pre,
samp,
p,
a,
ins,
abbr,
i,
mark,
del,
sub,
sup,
u,
b,
strong,
blockquote,
ul,
ol,
li,
dl,
dt,
dd {
  color: $black;
  font-size: inherit;
}

// Paragraphs
p {
  margin: 0 0 1.2rem;
}

// Semantic text elements
a,
ins {
  text-decoration-skip: ink edges;
  color: $clear-blue;
}

abbr {
  border-bottom: .05rem dotted;
  cursor: help;
  text-decoration: none;
}

kbd {
  background: $black;
  border-radius: .1rem;
  color: $white;
  font-size: 16px;
  line-height: 1.25;
  padding: .1rem .2rem;
}

mark {
  background: #ffe9b3;
  border-bottom: .05rem solid #ffd367;
  border-radius: .1rem;
  color: $black;
  padding: .05rem .1rem 0;
}

b,
strong {
  font-weight: bold;
}

i {
  font-style: italic;
}

code {
  background: #fcf2f2;
  border-radius: .1rem;
  color: #d73e48;
  font-size: 85%;
  line-height: 1.25;
  padding: .1rem .2rem;
}

pre {
  background: #f7f8f9;
  color: inherit;
  display: block;
  line-height: 1.5;
  overflow-x: auto;
  padding: 1rem;
  width: 100%;
}

del {
  text-decoration: line-through;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

u {
  text-decoration: underline;
}

// Blockquote
blockquote {
  border-left: .1rem solid lighten($black, 65%);
  margin-left: 0;
  padding: .4rem .8rem;

  p:last-child {
    margin-bottom: 0;
  }
}

// Lists
ul,
ol {
  margin: .8rem 0 .8rem .8rem;
  padding: 0;

  ul,
  ol {
    margin: .8rem 0 .8rem .8rem;
  }

  li {
    margin-top: .4rem;
  }
}

ul {
  list-style: disc inside;

  ul {
    list-style-type: circle;
  }
}

ol {
  list-style: decimal inside;

  ol {
    list-style-type: lower-alpha;
  }
}

dl {
  dt {
    font-weight: bold;
  }
  dd {
    margin: .4rem 0 .8rem 0;
  }
}