/* stylelint-disable */

.vs__dropdown-toggle {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 140px;
  height: 100%;
  border: 1px solid $pale-blue;
  border-radius: 10px;
  box-shadow: 0;
}

.vs__selected-options {
  align-items: center;
}

.vs__clear {
  visibility: hidden;
}

.vs__search {
  margin: 0;
  padding: 0;
  border: 0;
}

.vs__dropdown-option--highlight {
  background: $pale-blue !important;
  color: $black;
}
