<template>
  <div class="ienope">
    <div class="ienope__wrapper">
      <span class="ienope__title">
        No Internet Explorer
      </span>
      <span class="ienope__message">
        디미에듀는 인터넷 익스플로러를 지원하지 않습니다.<br>
        인터넷 익스플로러를 끄고 다른 브라우저로 접속해 주세요.
      </span>

      <div class="ienope__links">
        <a
          v-for="b in browsers"
          :key="b.href"
          :href="b.href"
          class="ienope__link"
        >
          <span class="bx bx-right-arrow-alt" /> {{ b.name }} 브라우저 다운로드
        </a>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component({
  name: 'ExplorerFound'
})
export default class ExplorerFound extends Vue {
  browsers = [
    { name: '구글 크롬', href: 'https://google.com/chrome' },
    { name: '파이어폭스', href: 'https://mozilla.org/firefox' }
  ]
}
</script>

<style lang="scss" scoped>
.ienope {
  display: flex;
  min-height: 90vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;

  &__title {
    color: $black;
    font-size: 5em;
    line-height: 1.6;
    word-break: keep-all;
  }

  &__message {
    display: flex;
    justify-content: flex-end;
    margin-top: 5em;
    color: $black-80;
    font-size: 1em;
    line-height: 1.6;
    word-break: keep-all;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 0.5em;
    color: $clear-blue;
    cursor: pointer;
    font-size: 1em;
    line-height: 1.6;
    text-decoration: none;
    word-break: keep-all;
  }
}
</style>
