<template>
  <div class="container">
    <content-card
      class="info"
      width="380"
    >
      <div class="column">
        <user-info />

        <section class="info-section">
          <div class="info__notice info-section__content">
            <span class="info__notice--content">
              <!-- {{ notice }} -->
              공지사항입니다!
            </span>
          </div>
        </section>

        <section
          v-if="permission"
          class="info-section"
        >
          <div
            class="info__menu info-section__content"
            @click="goManagement"
          >
            관리 시스템
          </div>
        </section>
      </div>
    </content-card>

    <content-card
      class="lecture"
      width="840"
    >
      <div class="column">
        <section class="info-section">
          <my-lectures />
        </section>
      </div>
    </content-card>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import ContentCard from '@/components/ContentCard.vue'
import UserInfo from '@/components/UserInfo.vue'
import MyLectures from '@/components/MyLectures.vue'

@Component({
  name: 'Main',
  components: { ContentCard, UserInfo, MyLectures }
})
export default class Main extends Vue {
  goManagement (): void {
    this.$router.push({ name: 'management' })
  }
}
</script>

<style lang="scss" scoped>
.column {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  padding: 3em;
}

.info-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;

  &__content {
    display: flex;
    flex: 1;
  }
}

.info,
.lecture {
  position: absolute;
  top: calc(50% - 350px);
}

.info {
  left: calc(10%);
  display: flex;
  width: 100%;

  &__notice {
    display: block;
    color: $black-80;
    font-size: 16px;
    line-height: 1.5;
  }

  &__notice--content {
    word-wrap: break-word;
  }

  &__menu {
    position: absolute;
    bottom: 100px;
    display: block;
    color: $black;
    cursor: pointer;
    font-size: 24px;
  }
}

.lecture {
  right: calc(10%);
}
</style>
