<template>
  <div class="mobilenope">
    <div class="mobilenope__wrapper">
      <p class="mobilenope__title">
        No Mobile
      </p>
      <p class="mobilenope__message">
        디미에듀는 모바일을 지원하지 않습니다. PC로 접속해주세요.
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component({
  name: 'MobileFound'
})
export default class MobileFound extends Vue {}
</script>

<style lang="scss" scoped>
.mobilenope {
  display: flex;
  min-height: 90vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;

  &__title {
    color: $black;
    font-size: 3em;
    line-height: 1.6;
    word-break: keep-all;
  }

  &__message {
    margin-top: 1em;
    color: $black-80;
    font-size: 0.7em;
    line-height: 1.6;
    word-break: keep-all;
  }
}
</style>
