<template>
  <div class="not-found">
    <div class="not-found__wrapper">
      <span class="not-found__title">
        404 Not Found
      </span>
      <span class="not-found__message">
        페이지를 찾을 수 없습니다. 주소를 다시 확인해주세요.
      </span>
      <a
        class="not-found__back"
        @click="back"
      >
        <span class="bx bx-right-arrow-alt" />
        이전으로
      </a>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component({
  name: 'NotFound'
})
export default class NotFound extends Vue {
  back (): void {
    this.$router.back()
  }
}
</script>

<style lang="scss" scoped>
.not-found {
  display: flex;
  min-height: 90vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;

  &__title {
    color: $black;
    font-size: 5em;
    line-height: 1.6;
    word-break: keep-all;
  }

  &__message {
    display: flex;
    justify-content: flex-end;
    margin-top: 5em;
    color: $black-80;
    font-size: 1em;
    line-height: 1.6;
    word-break: keep-all;
  }

  &__back {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 0.5em;
    color: $clear-blue;
    cursor: pointer;
    font-size: 1em;
    line-height: 1.6;
    word-break: keep-all;
  }
}
</style>
