<template>
  <div class="login__container">
    <div class="login__title">
      Sign in <span class="login__title--highlight">DIMIEDU</span>
    </div>
    <eduel-input
      v-model="id"
      class="login__field"
      placeholder="아이디"
      type="text"
      @enter="confirmLoggingIn"
    />
    <eduel-input
      v-model="password"
      class="login__field"
      placeholder="비밀번호"
      type="password"
      @enter="confirmLoggingIn"
    />
    <eduel-button
      :loading="pending"
      class="login__button"
      @click="confirmLoggingIn"
    >
      로그인
    </eduel-button>
    <div class="login__description">
      신입생 로그인이 되지 않을 경우, 정희범 선생님께 문의하세요.
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component({
  name: 'Login'
})
export default class Login extends Vue {
  id = ''
  password = ''

  pending = false

  async confirmLoggingIn (): Promise<void> {
    try {
      this.pending = true
      await console.log(this.id, this.password)
    } catch (error) {
      console.error('login', error)
      this.pending = false
    }
    this.$router.push({ name: 'main' })
  }
}
</script>

<style lang="scss" scoped>
.login {
  &__container {
    position: absolute;
    top: calc(50% - 220px);
    right: calc(10%);
    width: 530px;
    height: 400px;
    padding: 50px;
  }

  &__title {
    color: $black;
    font-size: 36px;
    font-weight: $font-weight-bold;
  }

  &__title--highlight {
    color: $clear-blue;
  }

  &__field {
    width: 375px;
    height: 40px;
    padding: 5px;
    margin-top: 16px;
    font-size: 18px;
  }

  &__field:first-of-type {
    margin-top: 80px;
  }

  &__button {
    position: relative;
    top: -24px;
    right: -32px;
    width: 80px;
    height: 64px;
    font-size: 18px;
  }

  &__description {
    margin-top: 50px;
    color: $black;
    font-size: 14px;
    text-align: center;
  }
}
</style>
