<template>
  <div class="container">
    <content-card
      class="info"
      width="380"
      flipping="true"
    >
      <template slot="front">
        <div class="column">
          <section class="info__lecture info-section">
            <div class="lecture-info__photo-outline">
              <img
                src="/app/assets/image-2.png"
                class="lecture-info__photo"
              >
            </div>

            <span class="lecture-info__title">
              2학년 JAVA 프로그래밍
            </span>
          </section>

          <section class="info-section">
            <div class="last-lesson lecture-info__content">
              <span class="last-lesson__title">
                마지막 수강 강의
              </span>
              <span
                class="last-lesson__lecture-name"
                @click="goLastLesson"
              >
                [실습과제] 아이유 프로필
              </span>
            </div>
          </section>

          <section class="info-section">
            <div class="current-situation lecture-info__content">
              <span class="current-situation__title">
                86개 강의 중 58개 강의 수강
              </span>
              <span class="current-situation__percent">
                65<span class="current-situation__percent-symbol">%</span>
              </span>
            </div>
          </section>
        </div>
      </template>

      <template slot="back">
        <div class="column">
          <section class="info__lecture-info info-section">
            <span
              class="info__lecture-info--content"
              v-html="subjectInfo"
            />
          </section>
        </div>
      </template>
    </content-card>

    <content-card
      class="lecture"
      width="840"
    >
      <div class="column">
        <section class="info-section">
          <template v-if="!detail">
            <lecture-content />
          </template>

          <template v-else>
            <lesson-list />
          </template>
        </section>
      </div>
    </content-card>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import ContentCard from '@/components/ContentCard.vue'
import LectureContent from '@/components/LectureContent.vue'
import LessonList from '@/components/LessonList.vue'

@Component({
  name: 'LectureMain',
  components: { ContentCard, LectureContent, LessonList }
})
export default class LectureMain extends Vue {
  detail = true

  subjectInfo = '과목 정보'

  goLastLesson (): void {
    console.log('마지막 수강 강의로 이동')
  }
}
</script>

<style lang="scss" scoped>
.column {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  padding: 3em;
}

.info-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;

  &__content {
    display: flex;
    flex: 1;
  }
}

.info,
.lecture {
  position: absolute;
  top: calc(50% - 350px);
}

.info {
  left: calc(10%);
  display: flex;
  width: 100%;

  &__lecture {
    display: flex;
    justify-content: center;
  }

  &__content {
    align-items: center;
  }
}

.lecture-info {
  &__photo-outline {
    display: flex;
    min-width: 100%;
    min-height: 170px;
    align-items: center;
    justify-content: center;
    border: 1px solid $pale-blue;
    margin-bottom: 1.5em;
    background-color: #f6f6f6;
    box-shadow: 0 0 1em 0.07em rgba($black, 0.07);
  }

  &__photo {
    width: 100%;
    height: 100%;
  }

  &__title {
    color: $black;
    font-size: 26px;
    font-weight: $font-weight-bold;
  }
}

.last-lesson {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 1.27;

  &__title {
    color: $black-80;
  }

  &__lecture-name {
    color: $clear-blue;
    cursor: pointer;
  }
}

.current-situation {
  color: $clear-blue;

  &__title {
    color: $black-80;
    font-size: 14px;
  }

  &__percent,
  &__percent-symbol {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 3rem;
    font-weight: $font-weight-bold;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }

  &__percent {
    font-size: 120px;
  }

  &__percent-symbol {
    font-size: 72px;
  }
}

.lecture {
  right: calc(10%);
}
</style>
