<template>
  <div class="content">
    <template v-if="status === 'practice'">
      <sidebar
        class="content__sidebar"
        hideable="true"
      />
      <practice-lesson />
    </template>

    <template v-else-if="status === 'theory'">
      <sidebar class="content__sidebar" />
      <theory-lesson />
    </template>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import Sidebar from '@/components/Sidebar.vue'
import PracticeLesson from '@/components/PracticeLesson.vue'
import TheoryLesson from '@/components/TheoryLesson.vue'

@Component({
  name: 'LessonContent',
  components: { Sidebar, PracticeLesson, TheoryLesson }
})
export default class LessonContent extends Vue {
  status = 'theory'
}
</script>

<style lang="scss" scoped>
.content {
  position: absolute;
  top: calc(50% - 375px);
  left: calc(10%);
  display: flex;
  flex: 1;

  &__sidebar {
    margin-right: 100px;
  }
}
</style>
