<template>
  <div class="container">
    <manage-lecture-card />

    <content-card
      class="main"
      width="840"
    >
      <div class="column">
        <div class="info-section prob">
          <div class="prob__title">
            문제 관리
          </div>

          <nav class="prob__toolbar">
            <eduel-checkbox
              v-model="selectAll"
              class="prob__tool prob__select-all"
            >
              전체 선택
            </eduel-checkbox>

            <span
              class="prob__tool prob__delete"
              @click="deleteChecked"
            >
              <span class="bx bxs-trash prob__delete-icon" /> 선택 삭제
            </span>

            <v-select
              v-model="filter"
              :options="['필터 없음', '프로그래밍', '객관식', '주관식', '파일 제출']"
              class="prob__tool prob__sort"
            />

            <eduel-button
              white="true"
              color="#2b80f0"
              class="prob__tool prob__create"
              @click="showMenu = true"
            >
              <span class="bx bx-plus prob__add-icon" /> 문제 만들기
            </eduel-button>
          </nav>

          <table class="prob__list">
            <tbody>
              <tr
                v-for="(item, index) in filteredList"
                :key="index"
                class="prob__row"
              >
                <td class="prob__cell">
                  <eduel-checkbox
                    v-model="checks[index]"
                    class="prob__item-check"
                  >
                    {{ getKindTextByCode(item.kind) }}
                  </eduel-checkbox>
                </td>

                <td class="prob__cell prob__cell--name">
                  {{ item.name }}
                </td>

                <td class="prob__cell">
                  <eduel-badge
                    v-if="item.kind === programming"
                    class="prob__badge"
                    color="gray"
                  >
                    {{ item.language }}
                  </eduel-badge>
                </td>

                <td class="prob__cell prob__cell--button">
                  <eduel-button
                    white="true"
                    color="#2b80f0"
                    class="prob__edit-button"
                    @click="editProblem(index)"
                  >
                    수정
                  </eduel-button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </content-card>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Watch } from 'vue-property-decorator'
import ContentCard from '@/components/ContentCard.vue'
import ManageLectureCard from '@/components/ManageLectureCard.vue'

@Component({
  name: 'ManageCurriculum',
  components: { ContentCard, ManageLectureCard }
})
export default class ManageCurriculum extends Vue {
  checks
  selectAll = false
  filter = '필터 없음'

  @Watch('filter')
  filteredList (val): void {
    this.checks = [...Array(val.length)].map(() => false)
    this.selectAll = false
  }

  @Watch('selectAll')
  onSelectAll (val): void {
    this.checks = this.checks.map(() => val)
  }

  async deleteChecked (): Promise<void> {
    if (!this.checks.filter(v => v).length) return
    const { value: answer } = await this.$swal({
      type: 'warning',
      title: '경고',
      text: '정말 삭제하실 건가요? 이 작업은 되돌릴 수 없습니다.',
      confirmButtonColor: '#d61315',
      cancelButtonColor: '#ababab',
      confirmButtonText: '삭제',
      cancelButtonText: '취소',
      showCancelButton: true
    })

    if (!answer) return
    try {
      await this.$swal('삭제되었습니다', '', 'success')
    } catch (err) {
      this.$swal('이런!', err.message, 'error')
    }
  }

  stringToKind (): string {
    if (this.filter === '필터 없음') {
      return '0'
    } else if (this.filter === '프로그래밍') {
      return '1'
    } else if (this.filter === '객관식') {
      return '2'
    } else if (this.filter === '주관식') {
      return '3'
    } else if (this.filter === '파일 제출') {
      return '4'
    }

    return ''
  }
}
</script>

<style lang="scss" scoped>
.column {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  padding: 3em;
}

.info-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;

  &__content {
    display: flex;
    flex: 1;
  }
}

.main {
  position: absolute;
  top: calc(50% - 350px);
  right: calc(10%);
}

.prob {
  &__title {
    margin-bottom: 1em;
    color: $black;
    font-size: 36px;
  }

  &__toolbar {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    color: $black-50;
    font-size: 16px;
  }

  &__tool:not(:first-child) {
    margin-left: 2em;
  }

  &__select-all {
    user-select: none;
  }

  &__delete {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
  }

  &__delete-icon,
  &__add-icon {
    font-size: 18px;
  }

  &__add-icon {
    font-weight: $font-weight-bold;
  }

  &__sort {
    width: 120px;
  }

  &__list {
    display: block;
    width: 100%;
    height: 450px;
    color: $black-80;
    overflow-y: auto;
  }

  &__cell {
    padding: 24px 0;
    white-space: nowrap;
  }

  &__cell:not(:last-child) {
    padding-right: 24px;
  }

  &__cell--name {
    width: 99%;
    line-height: 1.5;
    white-space: normal;
  }
}
</style>
