<template>
  <div class="container">
    <manage-lecture-card />

    <content-card
      class="main"
      width="840"
    >
      <div class="column">
        <div class="info-section curri">
          <div class="curri__title-wrapper">
            <span class="curri__title">
              강의 구성 관리
            </span>
            <span
              class="bx bx-plus curri__add-icon"
              @click="showMenu = true"
            />
            <span
              class="bx bxs-trash curri__delete-icon"
              @drop="deleteLesson"
            />
          </div>

          <div class="curri__list">
            <span class="curri__item">
              <span
                class="bx bx-chevron-right curri__icon--small"
                draggable="true"
                @click="showDetail"
              />
              <span class="curri__item--title">
                C언어의 기본
              </span>
            </span>
          </div>
        </div>
      </div>
    </content-card>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import ContentCard from '@/components/ContentCard.vue'
import ManageLectureCard from '@/components/ManageLectureCard.vue'

@Component({
  name: 'ManageCurriculum',
  components: { ContentCard, ManageLectureCard }
})
export default class ManageCurriculum extends Vue {
  showMenu = false

  deleteLesson (): void {
    console.log('수업 삭제')
  }
}
</script>

<style lang="scss" scoped>
.column {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  padding: 3em;
}

.info-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;

  &__content {
    display: flex;
    flex: 1;
  }
}

.main {
  position: absolute;
  top: calc(50% - 350px);
  right: calc(10%);
}

.curri {
  &__title {
    margin-bottom: 1em;
    color: $black;
    font-size: 36px;
  }

  &__delete-icon,
  &__add-icon {
    color: $clear-blue;
    cursor: pointer;
    font-size: 36px;
  }

  &__add-icon {
    font-weight: $font-weight-bold;
  }
}
</style>
