<template>
  <div class="container">
    <manage-lecture-card />

    <content-card
      class="main"
      width="840"
    >
      <div class="column">
        <div class="info-section exam-result">
          <div class="exam-result__title">
            시험/과제 결과 관리
          </div>

          <table class="exam-result__list">
            <tbody>
              <tr
                v-for="(item, index) in items"
                :key="index"
                class="exam-result__row"
              >
                <td class="exam-result__cell exam-result__cell--name">
                  {{ item.name }}
                </td>

                <td class="exam-result__cell">
                  응시율 {{ item.applicationRate }}%
                </td>

                <td class="exam-result__cell">
                  평균 {{ item.average }}점
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </content-card>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import ContentCard from '@/components/ContentCard.vue'
import ManageLectureCard from '@/components/ManageLectureCard.vue'

@Component({
  name: 'ManageCurriculum',
  components: { ContentCard, ManageLectureCard }
})
export default class ManageCurriculum extends Vue {}
</script>

<style lang="scss" scoped>
.column {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  padding: 3em;
}

.info-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;

  &__content {
    display: flex;
    flex: 1;
  }
}

.main {
  position: absolute;
  top: calc(50% - 350px);
  right: calc(10%);
}

.exam-result {
  &__title {
    margin-bottom: 1em;
    color: $black;
    font-size: 36px;
  }

  &__list {
    display: block;
    width: 100%;
    height: 450px;
    color: $black-80;
    overflow-y: auto;
  }

  &__cell {
    padding: 24px 0;
    white-space: nowrap;
  }

  &__cell--name {
    width: 99%;
    line-height: 1.5;
    white-space: normal;
  }
}
</style>
